@import '~bootstrap/scss/bootstrap.scss';
$modal-xl: 1100px !default;
@include media-breakpoint-only(xl) {
    .modal-xl {
        max-width: $modal-xl;
    }
}

.modal-body {
    @include media-breakpoint-only(xs) {
        max-height: calc(100vh - 150px);
    }
    @include media-breakpoint-between(sm, xl) {
        max-height: calc(100vh - 210px);
    }
    overflow-y: auto;
}