@import '~bootstrap/scss/bootstrap.scss';
$navbar-height: 50px !default;
$nav-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2) !default;
html {
    overflow-y: scroll;
}

body {
    padding-top: $navbar-height;
}

.navbar {
    box-shadow: $nav-shadow;
    .navbar-brand>img {
        display: inline-block;
        height: 30px;
        margin-top: -5px;
        margin-right: 15px;
    }
}

$nav-transition: all 0.3s ease-out;

.slide-animation-enter {
    overflow: hidden;
    height: 1px;
    opacity: 0.01;
}

.slide-animation-enter.slide-animation-enter-active {
    opacity: 1;
    overflow: hidden;
    transition: $nav-transition;
    transition-property: opacity min-height, max-height, height;
}

.slide-animation-leave {
    overflow: hidden;
    opacity: 1;
    transition: $nav-transition;
    transition-property: opacity min-height, max-height, height;
}

.slide-animation-leave.slide-animation-leave-active {
    overflow: hidden;
    height: 1px;
    opacity: 0.01;
}

@import './sidebar.scss';